discord.py>=1.7.2,<2.0.0
discord-py-slash-command>=2.3.2,<3.0.0
# gspread-asyncio>=1.1.0,<2.0.0
# oauth2client
srp>=1.0.16,<2.0.0
aiohttp_socks>=0.7.1,<1.0.0
Pillow>=9.0.0,<10.0.0
beautifulsoup4>=4.9.1,<5.0.0
lxml>=4.5.1,<5.0.0
pymongo[srv]>=3.12.0,<4.0.0
motor>=2.5.1,<3.0.0
python-dotenv==0.19.*
fastapi==0.66.*
Jinja2==3.0.*
aiofiles>=0.6.0
# pyyaml
itsdangerous>=2.0.1,<3.0.0
# uvicorn==0.13.3
Hypercorn>=0.11.2
requests>=2.27.1,<3.0.0
httpx[http2]==0.18.*
authlib==0.15.*
python-multipart
numpy
